(2046)

주어진 숫자만큼 # 을 출력해보세요.

주어질 숫자는 100,000 이하다.

In [3]:
N = int(input())

print('#' * N)

3
###

(2047)

신문의 헤드라인을 편집하기 위해, 주어지는 문자열의 알파벳 소문자를 모두 대문자로 바꾸는 프로그램을 개발 중이다.

입력으로 주어진 문장에 모든 소문자 알파벳을 찾아 대문자로 변환한 다음, 그 결과를 출력하는 프로그램을 작성하라.


[예제 풀이]

The_headline_is_the_text_indicating_the_nature_of_the_article_below_it.

위와 같은 문자열이 입력으로 주어졌을 때, 출력은 다음과 같다.

THE_HEADLINE_IS_THE_TEXT_INDICATING_THE_NATURE_OF_THE_ARTICLE_BELOW_IT.


[제약 사항]

문자열의 최대 길이는 80 bytes 이다.


[입력]

입력으로 80 bytes 이하의 길이를 가진 문자열이 주어진다.


[출력]

문자열의 소문자를 모두 대문자로 변경한 결과를 출력한다.

In [4]:
letter = input()

print(letter.upper())

The_headline_is_the_text_indicating_the_nature_of_the_article_below_it
THE_HEADLINE_IS_THE_TEXT_INDICATING_THE_NATURE_OF_THE_ARTICLE_BELOW_IT

(2050)

알파벳으로 이루어진 문자열을 입력 받아 각 알파벳을 1부터 26까지의 숫자로 변환하여 출력하라.


[제약 사항]

문자열의 최대 길이는 200이다.


[입력]

알파벳으로 이루어진 문자열이 주어진다.


[출력]

각 알파벳을 숫자로 변환한 결과값을 빈 칸을 두고 출력한다.

In [13]:
alpha = input()

new_alpha = ""

for i in range(len(alpha)):
    if alpha[i] in ['a', 'A']:
        new_alpha += '1 '
    elif alpha[i] in ['b', 'B']:
        new_alpha += '2 '
    elif alpha[i] in ['c', 'C']:
        new_alpha += '3 '
    elif alpha[i] in ['d', 'D']:
        new_alpha += '4 '
    elif alpha[i] in ['e', 'E']:
        new_alpha += '5 '
    elif alpha[i] in ['f', 'F']:
        new_alpha += '6 '
    elif alpha[i] in ['g', 'G']:
        new_alpha += '7 '
    elif alpha[i] in ['h', 'H']:
        new_alpha += '8 '
    elif alpha[i] in ['i', 'I']:
        new_alpha += '9 '
    elif alpha[i] in ['j', 'J']:
        new_alpha += '10 '
    elif alpha[i] in ['k', 'K']:
        new_alpha += '11 '
    elif alpha[i] in ['l', 'L']:
        new_alpha += '12 '
    elif alpha[i] in ['m', 'M']:
        new_alpha += '13 '
    elif alpha[i] in ['n', 'N']:
        new_alpha += '14 '
    elif alpha[i] in ['o', 'O']:
        new_alpha += '15 '
    elif alpha[i] in ['p', 'P']:
        new_alpha += '16 '
    elif alpha[i] in ['q', 'Q']:
        new_alpha += '17 '
    elif alpha[i] in ['r', 'R']:
        new_alpha += '18 '
    elif alpha[i] in ['s', 'S']:
        new_alpha += '19 '
    elif alpha[i] in ['t', 'T']:
        new_alpha += '20 '
    elif alpha[i] in ['u', 'U']:
        new_alpha += '21 '
    elif alpha[i] in ['v', 'V']:
        new_alpha += '22 '
    elif alpha[i] in ['w', 'W']:
        new_alpha += '23 '
    elif alpha[i] in ['x', 'X']:
        new_alpha += '24 '
    elif alpha[i] in ['y', 'Y']:
        new_alpha += '25 '
    elif alpha[i] in ['z', 'Z']:
        new_alpha += '26 '
        
print(new_alpha)

dd
4 4

In [28]:
alpha = input()

new_alpha = ""

for i in alpha:
    if ord(i) <= 90:
        new_alpha += str(ord(i) - 64) + " "
    else:
        new_alpha += str(ord(i) - 96) + " "

print(new_alpha)

abc
1 2 3

In [26]:
print(ord('a'))
print(ord('z'))
print(ord('A'))
print(ord('Z'))

97
122
65
90

연월일 순으로 구성된 8자리의 날짜가 입력으로 주어진다.
 
해당 날짜의 유효성을 판단한 후, 날짜가 유효하다면

[그림1] 과 같이 ”YYYY/MM/DD”형식으로 출력하고,

날짜가 유효하지 않을 경우, -1 을 출력하는 프로그램을 작성하라.


연월일로 구성된 입력에서 월은 1~12 사이 값을 가져야 하며

일은 [표1] 과 같이, 1일 ~ 각각의 달에 해당하는 날짜까지의 값을 가질 수 있다.
 


※ 2월의 경우, 28일인 경우만 고려한다. (윤년은 고려하지 않는다.)


[입력]

입력은 첫 줄에 총 테스트 케이스의 개수 T가 온다.

다음 줄부터 각 테스트 케이스가 주어진다.


[출력]

테스트 케이스 t에 대한 결과는 “#t”을 찍고, 한 칸 띄고, 정답을 출력한다.

(t는 테스트 케이스의 번호를 의미하며 1부터 시작한다.)

In [5]:
T = int(input())

for i in range(T):
    
    number = str(input())

    year = number[0:4]
    month = number[4:6]
    day = number[6:8]
    
    if month in ['01', '03', '05', '07', '08', '10', '12']:
        if int(day) < 32 and int(day) > 0:   
            print(f'#{i+1} {year}/{month}/{day}')
        else:
            print(f'#{i+1} -1')
    elif month in ['04', '06', '09', '11']:
        if int(day) < 31 and int(day) > 0:   
            print(f'#{i+1} {year}/{month}/{day}')
        else:
            print(f'#{i+1} -1')
    elif month in ['02']:
        if int(day) < 29 and int(day) > 0:   
            print(f'#{i+1} {year}/{month}/{day}')
        else:
            print(f'#{i+1} -1')
    else:
        print(f'#{i+1} -1')

1
12345678
1234 56 78

(2058)

하나의 자연수를 입력 받아 각 자릿수의 합을 계산하는 프로그램을 작성하라.

[제약 사항]

자연수 N은 1부터 9999까지의 자연수이다. (1 ≤ N ≤ 9999)

[입력]

입력으로 자연수 N이 주어진다.

[출력]

각 자릿수의 합을 출력한다.

In [ ]:
N = int(input())

sum = 0

for i in str(N):
    sum += int(i)

print(sum)

In [ ]:
n = input()
sum_num = 0
for i in range(len(n)):
    sum_num += int(n[i])
print(sum_num)

(2063)

중간값은 통계 집단의 수치를 크기 순으로 배열 했을 때 전체의 중앙에 위치하는 수치를 뜻한다.

입력으로 N 개의 점수가 주어졌을 때, 중간값을 출력하라.


[예제]

N이 9 이고, 9개의 점수가 아래와 같이 주어질 경우,

85 72 38 80 69 65 68 96 22

69이 중간값이 된다.


[제약 사항]

1. N은 항상 홀수로 주어진다.

2. N은 9이상 199 이하의 정수이다. (9 ≤ N ≤ 199)


[입력]

입력은 첫 줄에 N 이 주어진다.

둘째 줄에 N 개의 점수가 주어진다.


[출력]

N 개의 점수들 중, 중간값에 해당하는 점수를 정답으로 출력한다.

In [20]:
N = int(input())
number = list(map(int, input().split()))

for i in range(N-1, 0, -1):
    for j in range(0, i):
        if number[j] < number[j+1]:
            number[j], number[j+1] = number[j+1], number[j]


middle = number[int(len(number)/2)]  
print(middle)

9
1 2 3 4 5 6 7 8 9
5

(2068)

10개의 수를 입력 받아, 그 중에서 가장 큰 수를 출력하는 프로그램을 작성하라.

[제약 사항]

각 수는 0 이상 10000 이하의 정수이다.

[입력]

가장 첫 줄에는 테스트 케이스의 개수 T가 주어지고, 그 아래로 각 테스트 케이스가 주어진다.

각 테스트 케이스의 첫 번째 줄에는 10개의 수가 주어진다.

[출력]

출력의 각 줄은 '#t'로 시작하고, 공백을 한 칸 둔 다음 정답을 출력한다.

(t는 테스트 케이스의 번호를 의미하며 1부터 시작한다.)

In [30]:
T = int(input())

for i in range(T):
    
    number = list(map(int, input().split()))
    
    for j in range(len(number)-1, 0, -1):
        for k in range(0, j):
            if number[k] > number[k+1]:
                number[k], number[k+1] = number[k+1], number[k]
        
    print(f'#{i+1} {number[-1]}')

1
2 3 4 5 6 7 8 9 10 1
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

(2070)

2개의 수를 입력 받아 크기를 비교하여 등호 또는 부등호를 출력하는 프로그램을 작성하라.

[제약 사항]

각 수는 0 이상 10000 이하의 정수이다.

[입력]

가장 첫 줄에는 테스트 케이스의 개수 T가 주어지고, 그 아래로 각 테스트 케이스가 주어진다.

각 테스트 케이스의 첫 번째 줄에는 2개의 수가 주어진다.

[출력]

출력의 각 줄은 '#t'로 시작하고, 공백을 한 칸 둔 다음 정답을 출력한다.

(t는 테스트 케이스의 번호를 의미하며 1부터 시작한다.)

In [ ]:
T = int(input())

for i in range(T):
    
    A, B = map(int, input().split())
    
    if A < B:
        print(f'#{i+1} <')
    elif A == B:
        print(f'#{i+1} =')
    else:
        print(f'#{i+1} >')

(2071)

10개의 수를 입력 받아, 평균값을 출력하는 프로그램을 작성하라.

(소수점 첫째 자리에서 반올림한 정수를 출력한다.)


[제약 사항]

각 수는 0 이상 10000 이하의 정수이다.


[입력]

가장 첫 줄에는 테스트 케이스의 개수 T가 주어지고, 그 아래로 각 테스트 케이스가 주어진다.

각 테스트 케이스의 첫 번째 줄에는 10개의 수가 주어진다.


[출력]

출력의 각 줄은 '#t'로 시작하고, 공백을 한 칸 둔 다음 정답을 출력한다.

(t는 테스트 케이스의 번호를 의미하며 1부터 시작한다.)

In [ ]:
T = int(input())

for i in range(T):
    
    numbers = list(map(int, input().split()))
    
    hab = 0
    avg = 0
    
    for j in range(len(numbers)):
        hab += numbers[j]
    
    avg = round((hab / len(numbers)))
    print(f'#{i+1} {avg}')

(2072)

10개의 수를 입력 받아, 그 중에서 홀수만 더한 값을 출력하는 프로그램을 작성하라.

[제약 사항]

각 수는 0 이상 10000 이하의 정수이다.

[입력]

가장 첫 줄에는 테스트 케이스의 개수 T가 주어지고, 그 아래로 각 테스트 케이스가 주어진다.

각 테스트 케이스의 첫 번째 줄에는 10개의 수가 주어진다.

[출력]

출력의 각 줄은 '#t'로 시작하고, 공백을 한 칸 둔 다음 정답을 출력한다.

(t는 테스트 케이스의 번호를 의미하며 1부터 시작한다.)

In [ ]:
T = int(input())

for i in range(T):
    
    numbers = list(map(int, input().split()))
    hab = 0
    
    for j in range(len(numbers)):
        if numbers[j] % 2 == 1:
            hab += numbers[j]
    
    print(f'#{i+1} {hab}')